.grid-container {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 40px 40px 40px;
  border-radius: 5px; 
  box-shadow: 1px 4px 8px #87919742;
}

.area-grid {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  width: 100%;
  border: 1px solid #87919742;
  background-color: rgba(255, 255, 255, 0.8);
}

.area-grid-item {
  border-right: 1px solid #87919742;
}

.area-grid-zone {
  border-bottom: 1px solid #87919742;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  height: 20px;
}

.area-grid-item:last-child, 
.area-grid-zone:last-child {
  border-right: none;
  border-bottom: none;
}

.danger {
  background-color: red;
}

.safe {
  background-color: #51B687;
}

.maintenance--icon {
  width: 15px;
  height: 15px;
  margin: 0 auto;
}